body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    padding-top: 0%;
  }
  
  .container {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding-top:none;
  }
  
  .logo {
    display:grid;
    font-family: 'Chomsky',sans-serif;
    font-size: 35px; /*makes the title change dynamically to screen size*/
    font-weight: normal;
    margin:0;
    text-align: center;
    align-content: center;
    white-space: nowrap;
    border-bottom: 1px solid rgb(176, 168, 168);
    margin-bottom: 4rem;
    max-width: 100%
    
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 25px;
  }
  
  .login-form {
    text-align: left;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 94%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  .primary-btn {
    width: 100%;
    padding: 12px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .separator {
    margin: 10px 0;
    text-align: center;
    border-top: 1px solid #ccc;
    position: relative;
  }
  
  .separator span {
    background: white;
    position: relative;
    top: -12px;
    padding: 0 10px;
    font-size: 14px;
    color: #666;
  }
  
  .oauth-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .oauth {
    padding: 12px;
    font-weight: bold;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
  }
  
  .sso-link {
    margin-top: 20px;
    font-size: 13px;
  }
  
  .sso-link a {
    color: black;
    font-weight: bold;
    text-decoration: underline;
  }
  